/* Variables */

:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-white-opacity: rgba(255, 255, 255, 0.3);
    --grey: #bdbbbc;
    --grey-light: #F2F2F2;
    --grey-button: #cacaca;
    --grey-middle: #EBEBEB;
    --grey-dark: #333333;
    --grey-toggle: #ABABAB;
    --brown: #766458;
    --brown-light: #766357;
    --brown-middle: #604E43;
    --brown-dark: #503E33;
    --blue: #81B3D3;
    --blue-light: #81B3D2;
    --blue-middle: #669EC0;
    --blue-dark: #5496BD;
    --beige: #EEEEEE;
    --beige-light: #E5E5E5;
    --beige-middle: #666666;
    --beige-dark: #A9A9A9;
    --beige-checkbox: #6A6A6A;
    --none:  rgba(0,0,0,0);
}

/* Global */
body {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: "PT Sans", Arial, Sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--grey-middle);
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }
  
.button{
    border: none;
    text-align: center;
    color: var(--basic-white);
    text-transform: uppercase;
    cursor: pointer;
    padding: 0;
}

.brown-style {
    background-color: var(--brown-light);
}

.brown-style:hover {
    background-color: var(--brown-middle);
}

.brown-style:focus {
    background-color: var(--brown-dark);
    color: var(--basic-white-opacity);
}

.blue-style {
    background-color: var(--blue-light);
}

.blue-style:hover {
    background-color: var(--blue-middle);
}

.blue-style:focus {
    background-color: var(--blue-dark);
    color: var(--basic-white-opacity);
}

.link-color-style {
    color: var(--basic-black);
}

.link-color-style:hover {
    color: var(--blue-light);
}

.link-color-style:focus {
    color: var(--basic-black);
    opacity: 30%;
}

.link-color-style:active {
    color: var(--brown-light);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Grid ganeral*/

.layout-positioner {
    padding: 0 73px;
    box-sizing: border-box;
}

/* Body */

.page-body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.main-page {
    position: relative;
}
/* Main */

.page-inner main {
    display: grid;
    grid-template-rows: min-content min-content min-content 1fr;
}

/* header */

.main-header {
    position: relative;
    z-index: 1;
}
/* Site-navigation */

.main-navigation {
    position: relative;
}
.site-navigation {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    height: 56px;
    font-weight: 700;
}

.site-navigation li:nth-child(4n+1) {
    width: 227px;
}

.site-navigation li:nth-child(4n+2) {
    width: 300px;
}

.site-navigation li:nth-child(4n+3) {
    width: 300px;
    text-align: end;
}

.site-navigation li:nth-child(4n+4) {
    width: 227px;
    text-align: end;
}

.main-header-logo {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    width: 138px;
    margin: 0 auto;
}

.page-inner .link-hotels {
    color: var(--brown-light);
}

/* Description */

.description-info {
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin-top: 43px;
    margin-bottom: 42px;
}

.description-advantage {
    text-align: center;
    color: var(--grey-dark);
    margin: 0;
    margin-bottom: 51px;
}

.description-decoration {
    position: relative;
    height: 509px;
    background-image: url("../img/background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.description-decoration--shape {
    position: absolute;
    bottom: 0;
}

/* Container */
.container {
    background-color: var(--basic-white);
}

.decoration--title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-top: 77px;
}

.decoration--title img:first-child{
    margin-bottom: 10px;
}

.decoration--title img:last-child{
    margin-top: 53px;
}

/* Details */

.details p{
    color: var(--grey-dark);
}

.details-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 
        256px
        330px
        256px
        256px;
}

.details-list h3 {
    font-size: 21px;
    font-weight: 700;
    margin: 0;
}

.details-list p {
    margin: 0;
}

.details-item {
    line-height: 21px;
    text-align: center;
}

.details-item--img{
    display: block;
    grid-column: span 2;
}

.details-item--invers {
    color: var(--basic-white);
    background-color: var(--blue-light);
}

.details-item--invers p{
    color: var(--basic-white);
}
.details-item--medium-color{
    background-color: var(--beige);
}

.details-item--medium-color p{
    color: var(--grey-dark);
}

.details-item--ad {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.details-item--ad img {
    order: -1;
    margin-bottom: 28px;
}

.details-item--ad p {
    margin-bottom: 82px;
}

.details-item--ad h3 {
    margin-bottom: 25px;
}

.details-item--plus {
    padding-top: 47px;
}

.details-item--plus h3{
    margin:0;
    margin-bottom: 25px;
}

.details-item--plus p{
    margin:0;
    margin-bottom: 23px;
}

.details-item--plus p:last-child{
    margin-bottom: 0;
}

/* Hotel-search */

.hotel-search {
    text-align: center;
}

.hotel-search--question {
    font-size: 30px;
    line-height: 24px;
    font-weight: 700; 
    margin: 0;
    margin-top: 58px;
    margin-bottom: 30px;
}

.hotel-search--details {
    font-size: 14px;
    line-height: 24px;
    color: var(--grey-dark);
    margin: 0;
    margin-bottom: 46px;
}

.hotel-search--container {
    position: relative;
    display: inline-block;
}
.hotel-search--container > button{
    height: 86px;
    width: 568px;
}

.search-form {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700; 
    height: 395px;
    width: 568px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    background-color: var(--basic-white);
}

.search-form button{
    height: 58px;
    padding: 0;
    width: 458px;
}
.search-form fieldset {
    border: none;
    padding: 0;
    margin: 0;
    width: 458px;
}


.search-form p{
    margin: 0;
    margin-bottom: 29px;
}

.search-form p:last-child{
    margin-bottom: 0;
}

.search-form--checkintime-label{
    display: inline-block;
    text-align: left;
    width: 109px;
}

.search-form--checkintime {
    width: 345px;
}

.search-form--checkouttime-label{
    display: inline-block;
    text-align: left;
    width: 109px;
}

.search-form--checkouttime {
    width: 345px;
}

.datepicker {
    position: relative;
    display: inline-block;
    height: 38px;
    min-width: 150px;
}

.datepicker-icon {
    position: absolute;
    right: 9px;
    top: 7px;
    cursor: pointer;
}

.datepicker-control {
    width: 100%;
    border: none;
    padding: 0;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.search-form--input {
    background-color: var(--grey-light);
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    height: 38px;
    text-transform: uppercase;
}

.search-form--input:hover {
    background-color: var(--grey-middle);
}

.search-form--input:focus {
    outline: none;
    background-color: var(--basic-white);
    border: 2px solid var(--beige-light);
}

.search-form svg {
    fill: var(--beige-dark);
}

.search-form svg:hover {
    fill: var(--basic-black);
}

.search-form svg:focus {
    outline: none;
    fill: var(--blue-light);
}

.search-form--adult-label {
    display: inline-block;
    text-align: left;
    width: 109px;
}

.search-form--adult {
    width: 114px;
}

.search-form--child-label{
    display: inline-block;
    text-align: left;
    width: 61px;
    margin-left: 49px;;
}

.search-form--child{
    width: 114px;
}

.countpicker-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

.countpicker {
    position: relative;
    display: inline-block;
    height: 38px;
    min-width: 114px;
}

.countpicker-control {
    width: 100%;
    border: none;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    box-sizing: border-box;
}

.countpicker-minus {
    position: absolute;
    left: 13px;
    top: 19px;
    cursor: pointer;
}

.countpicker-plus {
    position: absolute;
    right: 14px;
    top: 15px;
    cursor: pointer;
}

.button-search {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.map {
    display: block;
}
/* Main footer */

.main-footer {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 120px;
}

.main-page .main-footer {
    position: absolute;
    bottom: 0px;
    width: inherit;
    opacity: 90%;
}

.main-footer--info {
    font-size: 21px;
    font-weight: 700; 
    margin: 0;
}

.main-footer--teg {
    margin-top: 23px;
    margin-bottom: 9px;
}

.main-footer--info a {
    color: var(--basic-dark);
}

.main-footer-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.main-footer-item {
    margin-right: 6px; 
 }
 
 .main-footer-item:last-child {
     margin-right: 0; 
  }
 
 .main-footer-item a {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     background-color: var(--blue-light);  
     width: 46px;
     height: 48px;  
 }

.main-footer-item a:hover {
    background-color: var(--blue-middle);
}
.main-footer-item:focus {
    background-color: var(--blue-dark);
}
.main-footer-item a:focus img{
   opacity: 30%;
}

.main-footer--logo svg {
    fill: var(--basic-black);    
}

.main-footer--logo:hover svg {
    fill: var(--blue-light);
}

.main-footer--logo:focus svg {
    fill: var(--grey);
}


.main-footer-copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main-footer-copyright p{
    margin-right: 15px;
}

.main-footer-copyright svg{
    display: block;
}

/* Search-panel */

.search-panel {
    display: grid;
    grid-template-columns: 1fr min-content;
    min-height: 87px;
    border-bottom: 1px solid var(--beige-light);
}

/* Section-filters */

.section-filters {
    background-image: url("../img/background_catalog.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--basic-white);
    line-height: 21px;
    padding-top: 27px;
    min-height: 216px;
}

.form-filters {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
}

.form-filters legend {
    font-size: 16px;
    font-weight: 700;
}

.form-filters fieldset{
    border: none;
}

.filter-infrastructure {
    padding: 0;
    margin: 0;
}

.filter-infrastructure legend {
    margin-bottom: 24px;
    margin-right: 117px;
}

.filter-item {
    margin-bottom: 25px;
}

.filter-option-control {
    position: relative;
    cursor: pointer;
    padding-left: 40px;
}

.checkbox-icon {
    position: absolute;
    left: 0;
    top: -1px;
    fill: var(--basic-white);
    cursor: pointer;
}

.filter-input-checkbox ~ .checkbox-icon-checked {
    display: none;
}

.filter-input-checkbox ~ .checkbox-icon-unchecked {
    display: block;
}

.filter-input-checkbox:checked ~ .checkbox-icon-checked {
    display: block;
}

.filter-input-checkbox:checked ~ .checkbox-icon-unchecked {
    display: none;
}
.filter-input-checkbox:disabled ~ svg {
    fill: var(--beige-checkbox);
}

.filter-cost fieldset{
    margin: 0;
    padding: 0;
}

.range-filter {
    margin-top: 10px;
}

.price-controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 316px;
    height: 36px;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    box-sizing: border-box;
}

.price-controls input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-controls input[type='number'] {
    -moz-appearance: textfield;
}

.price-controls input{
    border: none;
    background: none;
    color: var(--basic-white);
    width: 50px;
 }

.price-controls .min-price {
    border-right: 2px solid var(--basic-white);
    padding-left: 62px;
    padding-right: 18px;
}

.price-controls .max-price {
    padding-left: 50px;
    padding-right: 24px;
}

.range-controls {
    position: relative;
    margin-top: 20px;
}

.range-controls .scale {
    height: 2px;
    background: var(--basic-white-opacity);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: var(--basic-white);
}

.range-controls .toggle {
    position: absolute;
    top: -9px;
    left: 0px;
    width: 4px;
    height: 3px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--grey-toggle);
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle:hover {
    box-shadow: 0 2px 1px 0 var(--grey-toggle);
    border: 10px solid var(--basic-white);
}

.range-controls .toggle-max {
    left: 252px;
}

.button-filters {
    display: block;
    margin: 0 auto;
    border: 2px solid var(--basic-white);
    background-color: rgba(0,0,0,0);
    color: var(--basic-white);
    margin-top: 33px;
    width: 138px;
    height: 36px;
}

.button-filters:hover {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

/* Section-sorts */

.section-sorts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.section-sorts--label {
    font-size: 12px;
    line-height: 18px;
    width: 115px;
}

.section-sorts--tagline {
    width: 163px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.section-sorts--items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.section-sorts--items li{
    margin-right: 32px;
}

.section-sorts--items li:last-child{
    margin-right: 0;
}

.button-sorttype {
    background-color: var(--none);
    font-size: 12px;
    line-height: 18px;
    color: var(--brown-light);
    border-bottom-style: dotted;
    border-bottom-color: var(--blue-light);
    padding: 0;
}

.button-sorttype:hover {
    color: var(--blue-light);
    border-bottom-style: dotted;
    border-bottom-color: var(--blue-light);
}
.button-sorttype:focus {
    color: var(--blue-light);
    border-bottom-style: none;
}
.button-sorttype:active {
    color: var(--basic-black);
    border-bottom-style: none;
}

/* Section-regulation */

.section-regulation{
    display: flex;
}

.section-regulation--items{
    display: flex;
    align-items: center;
}

.section-regulation--items li:first-child{
    margin-right: 10px;
}

.button-regulation {
    background-color: var(--none);
}

.button-regulation svg {
    fill: var(--grey-button);
}

.button-regulation:hover svg {
    fill: var(--basic-black);
}

.button-regulation:focus svg {
    fill: var(--blue-light);
}

.button-regulation:active svg {
    fill: var(--basic-black);
}

/* Section-catalog */

.section-catalog-item {
    display: grid;
    grid-template-columns: max-content 1fr min-content;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--beige-light);
    align-items: flex-end;
    min-height: 151px;
}

.section-catalog-item > img{
    display: block;
}

.section-catalog-item-hotel {
    margin-left: 30px;
}

.section-catalog-item-hotel h3 {
    font-size: 21px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 7px;
}

.section-catalog-item-hotel p {
    color: var(--grey-dark);
}

.section-catalog-item-hotel a {
    color: var(--basic-white);
    font-weight: 700;
}

.item-hotel-description {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.item-hotel-description--type {
    min-width: 110px;
    margin: 0;
    margin-right: 6px;
    line-height: 21px;
}

.item-hotel-description--price {
    min-width: 142px;
    margin: 0;
    line-height: 21px;
}

.item-hotel-actions {
    display: flex;
    flex-wrap: wrap;
}

.item-hotel-actions a{
    min-width: 110px;
    height: 27px;
    text-align: center;
}

.item-hotel-actions button{
    min-width: 142px;
    height: 27px;
}

.item-hotel-actions > *{
    margin-right: 6px;
}

.item-hotel-actions > *:last-child {
    margin-right: 0;
}

.button-booking {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
}

.section-catalog-item-rate p {
    color: var(--beige-middle);
    background-color: var(--grey-light);
    width: 110px;
    height: 27px;
    margin: 0;
    text-align: center;
}

.section-catalog-item--stars {
    text-align: right;
    margin-bottom: 39px;
}